
@media all and (max-width:800px) {
        *{
            margin: 0px;
            padding: 0px;
        }
        body {
            font-size: 10pt;
            color: #333;
        }
        header {
            position: relative;
            clear: both;
            width: 340px;
            height: 130px;
            margin: 0 auto;
            background: #f90;
            
        }
        /*--헤더 상단 1행 전체 시작------*/
        .header_box_all {
            position: relative;
            clear: both;
            width: 340px;
            height: 130px;
            
        }
        /*--헤더 상단 1행 global left ------*/
        .header_box_all > .header_box_01 {
            position: relative;
            clear: both;
            width: 340px;
            height: 50px;
            line-height: 50px;
            top: 10px;
            overflow: hidden;
            background: #f00;
        }
            #header_box_01_up {
                position: relative;
                clear: both;
                width: 340px;
                height: 30px;
            }
                #sec_global {
                    position: relative;
                    float: left;
                    width: 170px;
                    height: 30px;
                    line-height: 30px;
                    
                }
                    select {
                        position: relative;
                        float: left;
                        width: 100px;
                        height: 30px;
                    }
                    option {
                        width: 50px;
                        height: 30px;
                    }
                #ins_all {
                    position: relative;
                    float: left;
                    width: 170px;
                    height: 30px;
                }    
                #ins_icon {
                    position: relative;
                    float: right;
                    width: 30px;
                    height: 30px;
                    margin-left: 10px;
                    
                }
                    
            #header_box_01_down {
                display: none;
            }
        /*------헤더 상단 1행 로고 센터------*/
        .header_box_all > .header_box_02 {
            position: relative;
            clear: both;
            width: 340px;
            height: 50px;
        }
        /*------헤더 상단 1행 회원가입 오른쪽------*/
        .header_box_all > .header_box_03 {
            position: relative;
            clear: both;
            width: 340px;
            height: 30px;
            background: rgb(197, 103, 40);
        }
            #header_box_03_up {
                position: relative;
                clear: both;
                width: 340px;
                height: 30px;
            }
                #text_join, #text_id, #text_basket, #text_mypage {
                    position: relative;
                    float: left;
                    width: 85px;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    font-size: 0.8rem;
                }
                #header_box_03_down {
                    display: none;
                }
                .gap_1400_10 {
                    display: none;
                }
    /*------메인 메뉴 9개 시작------*/   
            .main_menu_all {
                display: flex;
                flex-flow: row wrap;
                width: 340px;
                height: 90px;
                margin: 0 auto;
            }
            .main_menu_all #menu_each {
                width: 110px;
            }
            #menu_01_over:hover {
                content: url(../img/main_menu_01_02.jpg);
            }
            /*------여백 삭제------*/   
            .gap_1400_10 {
            display: none;
            }    


            /*---메인 이미지-----*/
            .main_img_all {
                position: relative;
                clear: both;
                width: 340px;
                height: 340px;
                overflow: hidden;
                margin: 0 auto;
            }
                .main_img_big {
                    display: none;
                }
                .main_img_small {
                    display: block;
                }




            .arrow_wrap {
                display: none;
            } 
            .main_img_all {
                position: relative;
                clear: both;
                width: 340px;
                height: 340px;
                overflow: hidden;
                margin: 0 auto;
            }
                .main_img_big {
                    display: none;
                }
                .main_img_small {
                    display: block;
                    position: absolute;
                    left: 0px;
                    top:0px;
                    width: 340px;
                    height: 340px;
                    margin-top: 10px;
                    z-index: 2;

            /*       -webkit-animation-duration: 2s;
                    -webkit-animation-name: m_01;
                    -webkit-animation-iteration-count: 1s;

                    @-webkit-keyframes m_01{
                        0% { left: 50px; top:50px; opacity: 50%;}
                        100%{left: 0px; top:0px; opacity: 100%;}
                    }
                } */
                
    /*-------------------new release------------------*/
            



}