@media all and (max-width:800px) {

    * { margin: 0px; padding:0px;}

    body{ 
        font-size: 10pt;
        color: #333;
    
    }
    header {
        position: relative;
        clear: both;
        width: 340px;
        height: 130px;
        margin: 0 auto;

    }
    /*헤더 상단 1행 전체 시작------------------*/
    .header_box_all {
        position: relative;
        clear: both;
        width: 340px;
        height: 200px;
        background: #121212;
        
    }
        /*헤더 상단 1행 global left------------------*/   
        .header_box_all > .header_box_01 {
            position: relative;
            clear: both;
            width: 340px;
            height: 100px;
            line-height: 50px;
            top: 10px;
            
        }

        #header_box_01_up {
            position: relative;
            clear: both;
            width: 340px;
            height: 30px;

        }
            #sec_global {
                position: relative;
                float: left;
                width: 170px;
                height: 30px;
                line-height: 30px;
                

            }
                select {
                    position: relative;
                    float: left;
                    width: 100px;
                    height: 20px;
                    
                    
                }
                option {
                    width: 50px;
                    height: 30px;

                }
            #ins_all {
                display: none;
                /*position: relative;
                float: left;
                width: 170px;
                height: 30px;*/
            }
            .m_menu_wrap {
                display: block;
                position: relative;
                float: right;
                width: 40px;
                height: 40px;               
                justify-content: center;
                align-items: center;
                transition: all 2s;
                cursor: pointer;
            }
                .m_menu.open {
                    display: none;
                    transition: all 2s;
                    transform: translateY(0px);
                }
                .m_menu {
                    position: relative;
                    display: flex;
                    flex-flow:row wrap;
                    width: 340px;
                    height: 120px;
                    background: rgba(28, 28, 26, 0.9);
                    z-index: 3;
                    transform: translateY(30px);
                    transition: all 2s;
                }
                
                    .m_shop {
                        position: relative;
                        clear: both;
                        width: 340px;
                        height: 30px;
                        line-height: 30px;
                        color: #fff;
                        font-size: 0.8rem;
                    }
                        .m_shop:hover {
                            cursor: pointer;
                            border-bottom: 1px solid #fff;
                        }
            #header_box_01_down {
                display: none;
            }        
        /*헤더 상단 1행 logo-center------------------*/
        .header_box_all > .header_box_02 {
            position: absolute;
            clear: both;
            width: 340px;
            height: 80px;
            
        }        
        /*헤더 상단 1행 회원가입 right------------------*/
        .header_box_all > .header_box_03 {
            position: relative;
            clear: both;
            width: 340px;
            height: 25px;
            color: white;
            background: rgb(14, 13, 13);
        }
            #header_box_03_up {
                position: relative;
                clear: both;
                width: 340px;
                height: 30px;
            }
            #text_join, #text_id, #text_basket, #text_mypage {
                position: relative;
                float: left;
                width: 85px;
                height: 25px;
                line-height: 25px;
                text-align: center;
                font-size: 8pt;
                cursor: pointer;
            }
            #text_join:hover, #text_id:hover, #text_basket:hover, #text_mypage:hover  {
                color: #ddd;
                cursor: pointer;
            }
        #header_box_03_down {
            display: none;
        }  
    /*여백삭제-----------------------*/
        .gap_1400_10 {
            display: none;
        }
        .main_menu_all {
            display: none;
        }
        /*----------------root 경로 시작-------------------*/    
        .path_all {
            position: relative;
            width: 340px;
            height: 50px;
            background:#fff;
            margin: 0 auto;
        }
            #path_01 {
                position: absolute;
                width: 340px;
                height: 50px;
                color: #121212;
                line-height: 50px;
                text-align: center;
                margin: 0 auto;
            }
        .pro_top_all {
            position: relative;
            display: flex;
            width: 100%;
            height: 1650px;
            
        }
            .top_box_01 {
                position: absolute;
                display: flex;
                width: 100%;
                height: auto;
                
            }
                .main_wrap2{
                    position: relative;
                    display: flex;
                    width: 100%;
                    height: 700px;
                    clear: both;

                    margin: 0 auto;
                    justify-content: center;

                }
                .main_mb_warp {
                    position: absolute;
                    clear: both;
                    width: 340px;
                    height: 700px;
                }   
                .main_p_img_m {
                    display: flex;
                    width: 340px;
                    height: 600px;
                }
                .deet_all {
                    position: relative;
                    width: 340px;
                    height: 100px;
                    align-items: center;
                    background: #ddd;
                }
                    .deet {
                        position: relative;
                        width: 100px;
                        height: 100px;
                        float: left;
                        margin-left: 10px;
                    }
                #next_m{
                    display: flex;
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    top:260px;
                    right: 0px;
                    background: #121212;
                }
                
                .main_p_small {
                    display: none;
                }
                    .main_p_img {
                        display: none;
                    }
            .top_box_02 {
                position: absolute;
                width: 100%;
                height: auto;
                top: 800px;
                
                padding: 0;
                
            }   #ment_01 {
                position: relative;
                clear: both;
                width: 350px;
                height: 50px;
                line-height: 50px;
                margin: 0 auto;
                font-size: 2rem;
                text-align: center;
                
            }
                #ment_02 {
                    position: relative;
                    width: 200px;
                    height: 40px;
                    margin-top: 30pt;
                    padding: 0;
                    margin: 0 auto;
                    margin-top: 90px;
                }
                #ment_03, .ment_line {
                display: none;
            }
                
                #ment_04 {
                    position: relative;
                    clear: both;
                    width: 350px;
                    height: 150px;
                    margin: 0 auto;
                    margin-top: 40px;
                    
                }   
                    .ment_04_item {
                        display: flex;
                        width: 100px;
                        height: 150px;
                        background: white;
                    }
                    .ment_04_item > img {
                        width: 100px;
                        height: 100px;
                        margin-top: 25px;
                        
                    }
                    .ment_04_text {
                        display: flex;
                        width: 250px;
                        height: 150px;
                        
                    }
                        .ment_04_top {
                            display: flex;
                            flex-flow: row wrap;
                            width: 250px;
                            height: 70px;
                            background: rgb(243, 241, 238);
                        }   
                            #ment_04_01 {
                                display: flex;
                                width: 250px;
                                height: 35px;
                                line-height: 35px;
                                padding-left: 10px;
                                font-size: 0.9rem;
                                margin: 0;
                            }

                            #ment_04_02 {
                                display: flex;
                                justify-content: left;
                                width: 250px;
                                height: 35px;
                                font-size: 0.75rem;
                                line-height: 35px;
                                padding-left: 10px;
                            }
                        .ment_04_mid {
                            display: flex;
                            width: 250px;
                            height: 30px;
                            
                        }
                            .mcolor {
                                width: 15px;
                                height: 15px;
                                margin: 7px;
                            }
                        .ment_04_bottom {
                            display: flex;
                            width: 250px;
                            height: 50px;
                            background: rgb(243, 241, 238);
                        }    


                    
                
    
    /*------------------------- footer -----------------------------*/                
        
    footer {
        position: relative;
        display: block;
        width: 100%;
        height: 600px;
        background: url(../img/lookbook.jpg);
        background-position: center;
        background-position-x: -600px;
        background-repeat: no-repeat;
    }
    .foot_info {
        position: relative;
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        height: 600px;
        
    }
        .top{
            width: 100%;
            display: flex;
            height: 570px;
            
        }
            .left_top {
                position: relative;
                display: flex;
                width: 500px;
                height: 500px;
                flex-flow: row wrap;
                
            }   .foot_logo {
                position: relative;
                
                width: 150px;
                height: 90px;
                
            }
                .foot_tp {
                    width: 300px;
                    height: 50px;
                    line-height: 20px;
                    font-size: 1rem;
                
                }
                #email {
                    width: 250px;
                }
                .subs {
                    width: 250px;
                    height: 250px;
                    font-size: 1rem;
                    
                }
                .submit {
                    position:relative;
                    display: flex;
                    top: -30px;
                    font-size: 1rem;
                    text-align: center;
                    line-height: 40px;
                    width: 200px;
                    height: 40px;
                    justify-content: center;
                   
                    
                }
                #subs_txt {
                    color: white;
                }
            .center_top, .right_top {
                display: none;
            }
        .bottom {
            width: 100%;
            height: 100px;
            position: relative;
            flex-flow: row wrap;
            background: #ddd;
        }
            .left_bottom {
                display: flex;
                width: 100%;
                height: 100px;
                
            }
                #allright {
                    text-align: center;
                }
            .right_bottom {
               display: none;
            }
}
